body{
    background-image: 
    url('sunset1.jpg');
    background-size: 100%;
}

.form1 {
	position: relative;
	margin: 100px auto 0;
	width: 400px;
	height: 420px;
	background: linear-gradient(0deg, #1e1d1d, #121212);
    border-radius: 30px;
}

.form1:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear infinite;
    border-radius: 30px;
	z-index: -1;
}

.form1:after {
	filter: blur(50px);
}

.username_mdp{
	display: grid;
	width: 100px;
	position: absolute;
	top: 110px;
	left: 25%;
	z-index: 10;
}

#username{
	margin: 40px 0px 60px 0px;
}

#username, #mdp {
	background-color: rgb(53, 49, 49);
	border-radius: 7px;
	height: 16px;
	width: 175px;
}

#connect, #login{
	position: absolute;
	top: 310px;
	left: 60%;
	height: 80px;
	width: 120px;
	background: rgb(0, 0, 0);
	border-radius: 24px;
	border: rgb(30, 30, 96) solid 2px;
	color: rgb(85, 85, 170);
	font-size: 14px;
}

#connect:hover, #login:hover{
	background: linear-gradient(rgba(39, 39, 135, 0.5), #7d2534);
	border: 0px;
}

#connect:active, #login:active{
	background: linear-gradient(rgba(39, 39, 135, 0.5), #a63144);
	border: 0px;
	animation: turn 2s linear infinite;
}

#mod_connect, #mod_login{
	margin-top: 20px;
	width: 160px;
	height: 80px;
	color: #c2430893;
	font-size: 20px;
	background-color: transparent;
	border: 0px;
	border-radius: 30px;
}

#mod_connect{
	color: #c2085ce6;
}

#mod_connect:hover, #mod_login:hover{
	background-color: #272727;
	background: linear-gradient(rgba(0, 0, 255, 0.25), rgba(18, 18, 18, 0));
}

.change_mod{
	display: flex;
	justify-content: space-around;
	margin-left: 30px;
	margin-right: 30px;
}

#span1, #span3{
	position: absolute;
	top: 65px;
	width: 200px;
	color: rgb(161, 27, 27);	
	display: none;
	font-family: cursive;
	font-size: 15px;
}

#span2, #span4{
	position: absolute;
	top: 150px;
	width: 200px;
	color: rgb(161, 27, 27);
	display: none;
	font-family: cursive;
	font-size: 15px;
}

#span5, #span6{
	position: absolute;
	top: 140px;
	left: 26%;
	width: 200px;
	color: rgb(161, 27, 27);	
	display: none;
	font-family: cursive;
	font-size: 15px;
}

#span7, #span8{
	position: absolute;
	top: 213px;
	left: 26%;
	width: 200px;
	color: rgb(161, 27, 27);	
	display: none;
	font-family: cursive;
	font-size: 15px;
}

#span9{
	position: absolute;
	top: 282px;
	left: 26%;
	width: 200px;
	color: rgb(161, 27, 27);	
	display: none;
	font-family: cursive;
	font-size: 15px;
}

#register{
	display: none;
}

#username_mdp_register{
	display: grid;
}

#username_register, #mdp_register, #mdp_confirm_register{
	width: 175px;
	height: 15px;
	background-color: rgb(53, 49, 49);
	border-radius: 7px;
	position: relative;
	left: 26%;
	margin: 20px 0px 30px 0px;;
}